@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Shows Different types of the cars.</p>
    <img src="~/carrrrr.gif"  height="550" width="1150"/><br /></br>
    <img src="~/carrrrrrr.gif"  height="550" width="1150"/>
</div>
