@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy</p>
<img src="~/carr.jpg"  height="550" width="1150"/><br /><br />
<img src="~/carrr.jpg"  height="550" width="1150"/>